.addingform {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.foundItemAdd-form-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-size: 15px;
    border: 1px solid rgb(197, 197, 197);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 7px;

}

.gender-form {
    display: flex;
    gap: 10px;
}

.gender-form-inside {
    display: flex;
    gap: 3px;
}

.p-card {
    border-radius: 7px;
    background-color: white;
}

label {
    font-size: 20px;
}

.p-inputtext {
    margin: 0;
    font-size: 20px;
}

.p-card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    border-radius: 7px;
    height: 100%;

}

.p-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
}

.Button {
    border-color: grey;
    color: white;
    font-size: 20px;
    font-family: 'Bentham', serif;
}

h1 {
    font-family: 'Bentham', serif;
}

.p-calendar .p-inputtext {
    width: 100%;
    font-size: 15px;
    font-family: 'Bentham', serif;
}

#description {
    resize: none;
}

.select-category {
    margin-top: 20px;
    height: 35px;
    border-radius: 7px;
    border: 1.5px solid rgb(179, 179, 179);
    color: gray;
    font-size: 15px;
}

.p-button-label {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}