.register-form-main {
  display: flex;
  flex-direction: column;
  gap:25px;
  padding: 20px 100px;
    font-size: 15px;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.gender-form {
  display: flex;
  gap:10px;
}

.gender-form-inside {
  display: flex;
  gap:3px;
}

.p-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}